.cv-console-view{
  &-code-box{
    &.across{
      .code-editor{
        margin-top:0;
      }
    }
    &.vertical{
      flex-direction: column;
    }
    display: flex;
    >div{
      flex:1;
    }
  }
}
