@import '~codemirror/lib/codemirror.css';
@import '~codemirror/theme/base16-light.css';
@import '~codemirror/theme/base16-dark.css';

.CodeMirror {
  padding: 10px;
  margin: 12px 0;
  height: auto;

  pre {
    padding: 0 20px;
  }
}
