.cv-RLResize{
  &.resize{
    cursor: col-resize;
  }
  margin:16px;
  display: flex;
  flex:none;
  border:1px solid rgba(0,0,0,0.32);
  background: #39464e;
  border-radius: 2px;
  &-item{
    box-sizing: border-box;
    padding:12px 16px;
    overflow: auto;
  }

  &-line{
    &::before{
      display: block;
      content:'';
      height:100%;
      border-right:1px solid #fff;
    }
    &.resize{
      cursor: col-resize;
    }
    padding:0 6px;
    cursor:ew-resize;
  }
}