.y-code-view{
  display: flex;
  flex-direction: column;

  .y-code-view-box{
    &:hover{
      background-color: #f5f9fa;
      .toolbar{
        border-color:#666;
      }
    }
    padding:12px;
    border:1px solid #d6dee0;
    border-radius: 4px;
    transition: background-color .2s ease-out,border .2s ease-out;
    .code-view-error{
      color:red;
    }
    .y-code-view-toolbar{
      display: flex;
      flex-direction: row-reverse;
      border-bottom:1px dashed #d6dee0;
      padding:8px 0;
      transition: background-color .2s ease-out,border .2s ease-out;
    }
  }

  &-toolbar{
    .cv-tooltip-wrapper{
      margin: 0 8px;
      color:rgba(0,0,0,0.54);
      transition: all 350ms ease;
      &:hover{
        transform: scale(1.12);
        color:rgba(0,0,0,1);
      }

      .iconfont-start{
        &.disabled{
          cursor: not-allowed;
          pointer-events: none;
        }
      }
    }
  }
}
