.cv-console-view{
  &-code-box{
    &.across{
      .code-editor{
        margin-top:0;
      }
    }
    &.vertical{
      flex-direction: column;
    }
    display: flex;
    >div{
      flex:1;
    }
  }

  .cv-console-view-box{
    border:1px solid rgba(0,0,0,0.32);
    flex:1;
    padding:12px 20px;
    //background: #292A2B;
    background: #fff;
    font-size: 14px;
    overflow: auto;
    >.v-col{
      display: flex;
      align-items: flex-start;
      padding:2px 4px;
      line-height: 21px;
      >.icon-arrowDown{
        min-width:16px;
        display: inline-block;//行内元素设置rotate无效
        transform: rotate(-90deg);
      }
      >.content{
        margin-left:12px;
      }
      .col-value{
        //margin:0 3px;
        &.nil{
          color:rgba(0,0,0,0.42);
        }
        &.number{
          color:blue;
        }
        &.boolean{
          color:#005cc5;
        }
        &.array{
          .prefix,.suffix{
            font-size: 16px;
          }
        }
        &.object{
          .object-name{
            color:#6f42c1;
          }
          .prefix,.suffix{
            font-size: 16px;
          }
        }
        &.error{
          color:red;
        }
      }
    }
  }
}